@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pliant:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pliant:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pliant:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#F5F1E4;
   font-family:'Montserrat',sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    background-color: white;
    overflow: hidden;
    width: 56.25rem;
     border-radius:0.75rem;
}

.img-container{
    width: 50%;
}

.img-container img{
     width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.container{
    width: 50%;
    padding: 4.375rem 2.5rem;
}

.cetagory{
    color: #033D17;
    letter-spacing: 0.3125rem;
}

h1{
    font-family: 'Fraunces', sans-serif;
    font-size: 2.9rem;
    margin-top: 2.1875rem;    /* 35px */
    line-height: 3.0625rem;
}

.discription{
    color: #6c7289;
    font-size: 1.2rem;
   word-spacing: 0.3125rem;  /* 5px */
    margin-top: 3rem;         /* 48px */
}

.price-box{
    display: flex;
    align-items: center;
    gap: 1.25rem;             /* 20px */
    margin: 3.125rem 0;       /* 50px */
}

.current-price{
    font-family:'Fraunces',serif;
    font-size:2rem;
    color:#3c8067;
    font-weight:700;
}

.old-price{
    color:#6c7289;
    text-decoration:line-through;
    font-size:0.875rem;
}

.icon{
    align-items: center;
    margin-right: 0.625rem;
}

.btn{
    border: none;
    background: #3c8067;
    color: white;
    padding:1rem;
    width: 100%;
    border-radius: 0.625rem;
    font-weight:700;
    font-size:0.9375rem;
    cursor:pointer;
}

.btn:hover{
    background:#033D17;
}

@media(min-width: 40.625rem){
    /* 650px / 16 = 40.625rem */

    body{
        padding:  1.5625rem;
    }
    .main{
        max-width: 21.875rem;
        flex-direction:column;
    }

    .img-container,
    .container{
        width:100%;
    }

    .img-container{
        height:15px;
    }

    .content h1{
        font-size:2rem;
    }
}
